name: Generate Helm-Docs
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '*/**'
      - '!.github/**'

jobs:
  preperation:
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/helm-preperation.yaml@7
  helm-docs:
    # https://github.com/actions/runner/issues/1917#issuecomment-2505051075
    needs: [preperation]
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/generate-helm-docs.yaml@7
    with:
      name: "${{ github.actor }}"
      email: "${{ github.actor }}@users.noreply.github.com"
      src_path_helm: ${{needs.preperation.outputs.context}}
    permissions:
      contents: write
