name: Generate Helm-Docs
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '*/**'
      - '!.github/**'
  push:
jobs:
  preperation:
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/helm-preperation.yaml@7.6.0
  helm-docs:
    # https://github.com/actions/runner/issues/1917#issuecomment-2505051075
    needs: [preperation]
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/generate-helm-docs.yaml@7.6.0
    with:
      name: "devops"
      email: "devops@dbildungsplattform.de"
      src_path_helm: ${{needs.preperation.outputs.context}}
    permissions:
      contents: write
