name: Release Chart on branch
on:
  push:
    branches-ignore:
      - 'main'
    paths:
      - '*/**'
      - '!.github/**'

concurrency:
  group: chart-release

jobs:
  preperation:
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/helm-preperation.yaml@10.3.0
  scan:
    # https://github.com/actions/runner/issues/1917#issuecomment-2505051075
    needs: [preperation]
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/check-helm-kics.yaml@10.3.0
    permissions:
      contents: read
    with: 
      chart_path: "."
  release_helm:
    # https://github.com/actions/runner/issues/1917#issuecomment-2505051075
    needs: [preperation]
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/chart-release.yaml@10.3.0
    secrets: inherit
    with:
      chart_path: "."
      chart_name: ${{needs.preperation.outputs.context}}
      helm_chart_version_generation: ticket_from_branch_timestamp
      image_tag_generation: chart_yaml
